// Example of importing a third-party library (from node_modules) :
// @import url("~boxicons");

// Example of importing a font :
// @font-face {
//    font-family: 'MyFont';
//    src: url('./NotoSansMendeKikakui-Regular.ttf') format('truetype');
//    font-weight: 600;
//    font-style: normal;
// }
// Then used :
// font-family: 'MyFont';

// Example of using an image :
// background: url('./icon.png');

$h1-color: rgb(0, 242, 255);

*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1 {
  color: $h1-color;
}