// Example of importing a third-party library (from node_modules) :
// @import url("~boxicons");

// Example of importing a font :
@font-face {
   font-family: 'MyFont';
   src: url('../../public/assets/fonts/NotoSansMendeKikakui-Regular.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

// Example of using an image :
// background: url('./icon.png');

$p-color: rgb(0, 242, 255);

*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

p {
  color: $p-color;
  font-family: 'MyFont';
  font-size: larger;
}