@font-face {
   font-family: 'MyFont';
   src: url('./NotoSansMendeKikakui-Regular.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

$body-color: rgb(0, 242, 255);

*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1 {
  color: $body-color;
  font-family: 'MyFont';
}

#icon {
   height: 100px;
   width: 100px;
   background: url('./icon.png');
   background-repeat: no-repeat;
   background-size: contain;
}
